# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all PDF files
*.pdf

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore look-up table. Need to compute locally. 
Python/cribbage_lookup_table.txt
Python/realisticDist_v4_out.txt