# Ignore all PDF files
*.pdf

# Ignore look-up table. Need to compute locally. 
Python/cribbage_lookup_table.txt
Python/realisticDist_v4_out.txt
Python/realisticDist_v4_out_nearestPoint.txt


# git filter-branch --index-filter 'git rm -r --cached --ignore-unmatch Python/cribbage_lookup_table.txt' HEAD
